# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.py text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.css text eol=lf
*.html text eol=lf

# Scripts
*.sh text eol=lf
Makefile text eol=lf

# Binary files
*.ico binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
